// == media ==
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

$screen-with-burger: 960px;
$screen-without-burger: 961px;
$screen-header-content-max: 650px;
$screen-header-menu: 400px;
$screen-iphone-x: 812px;
// == /media ==
