@import './variables.scss';
@import './normalize.scss';

body{
    font-family: 'Lato', sans-serif;
}

*{
    box-sizing: border-box;
}

.section-outer{}
.section-inner{
    max-width: 1100px;
    margin: 0 auto;
}

// == header ==
.section-header{
    background: url('../img/background.png') no-repeat center;
    background-size: cover;
    
    
    .section-inner{
        position: relative;
        z-index: 10;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    &::before{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8));
        z-index: 5;
    }

    &-navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 50px;
        color: $color-white;
        flex-shrink: 1;

       &__logo{}

        &__list{
            display: flex;
            
            li+li{
                margin-left: 20px;
            }

            li{
                list-style: none;

                a{
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $color-white;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }

        &__stuff{
            display: flex;
            align-items: center;
            
            &__language{
                display: flex;
                align-items: center;

                .logo{}

                .text{
                    margin-left: 11px;
                }

                .arrow{
                    margin-left: 8px;
                    cursor: pointer;
                }
            }

            &__button{
                margin-left:28px;
                font-size: 14px;
                line-height: 17px;
                
                button{
                    text-transform: uppercase;
                    padding: 12px 20px;
                    background: transparent;
                    border: 1px solid;
                    color: $color-white;
                    border-radius: 6px; 
                    outline: none;
                    cursor: pointer;
                    transition: .3s;

                    &:hover{
                        background-color: $color-white;
                        color: $color-red;
                    }
                }
            }
            
        }
    }

    &-content{
        display: flex;
        justify-content: center;
        flex-grow: 1;
        text-align: center;
        align-items: center;

        &__wrapper{}
        
        &__title{
            font-weight: bold;
            font-size: 72px;
            line-height: 86px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: $color-white;
            margin-bottom: 40px;
        }

        &__text{
            font-weight: 600;
            font-size: 24px;
            line-height: 150%;
            width: 50%;
            margin: 0 auto 40px;
            color: $color-white;
        }

        &__button{

            button{
                text-transform: uppercase;
                padding: 17px 52px;
                background: $color-white;
                border: 1px solid;
                color: $color-red;
                border-radius: 6px; 
                outline: none;
                cursor: pointer;
                transition: .3s;

                &:hover{
                    background-color: transparent;
                    color: $color-white;
                }
            }
        }
    }
}
// == /header ==

// == offer ==

.section-offer{
    padding-top: 95px;
    padding-bottom: 95px;
    
    .section-inner{
        display: flex;
        align-items: center;
        
    }

    &-content{
        flex-basis: 445px;
        margin-right: 125px;

        &__title{
            font-weight: 600;
            font-size: 36px;
            line-height: 43px;
            color: $color-black;
            margin-bottom: 30px;
        }

        &__text{
            font-size: 14px;
            line-height: 140%;
            color: $color-black;
            margin-bottom: 20px;
        }

        &__link{
            
            a{
                text-decoration: none;
                font-size: 14px;
                line-height: 140%;
                color: $color-red;
            }
        }
    }

    &-video{
        position: relative;
        
        &__main-img{}

        &__img-button{
            position: absolute;
            top: 125px;
            left: -34px;
            cursor: pointer;
            transform: translateZ(0px);
            transition-duration: .3s;
            transition-property: transform;

            &:hover{
          
            transform: scale(1.25);

            }
        }
    }
}

// ==features ==

.section-features{
    background-color: $color-gray;
    padding-top: 64px;
    padding-bottom: 236px;

    &-title{
        text-align: center;
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
        color: $color-black;
        margin-bottom: 64px;
    }

    &-content{
        display: flex;
        justify-content: space-between;

        &-item{
            flex-basis: 350px;
            position: relative;

            &__img{}

            &__wrapper{
                position: absolute;
                bottom: -112px;
                left: 30px;
                right: 50%;
                width: 292px;
                background-color: $color-white;
                padding: 32px 32px;
                box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
                border-radius: 8px;
                text-align: center;
                color: $color-black-secondary;

                .title{
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;
                    margin-bottom: 20px;
                }

                .text{
                    font-size: 12px;
                    line-height: 150%;
                    margin-bottom: 25px;
                }

                .link{

                    a{
                        text-decoration: none;
                        font-weight: bold;
                        font-size: 12px;
                        line-height: 150%;
                        color: $color-red;
                    }

                }
            }
        }
    }
}
// == /features ==

// == technology ==

.section-technology{
    padding-top: 64px;
    padding-bottom: 120px;
    

    &-title{
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        color: $color-black;

    }

    &-wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: 52px;
    }

    &-item{
        text-align: center;
        flex-basis: 225px;
        position: relative;
        
        &__img{
            margin-bottom: 35px;
        }

        &__title{
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            color: $color-black-secondary;
            margin-bottom: 10px;
        }

        &__text{
            font-size: 12px;
            line-height: 14px;
            color: $color-black;
            width: 85%;
            margin: 0 auto;
        }

        &__background{
            position: absolute;
            bottom: 71px;
            left: 91px;
        }
    }
}

//  == /technology ==

// == promo ==

.section-promo{
    background-color: $color-red;
    padding-top: 64px;
    padding-bottom: 95px;

    .section-inner{
        display: flex;
        align-items: center;
    }

    &-content{
        flex-basis: 445px;
        margin-right: 100px;
        color: $color-white;

        &__title{
            font-weight: 600;
            font-size: 36px;
            line-height: 43px;
            margin-bottom: 40px;
        }

        &__text{
            font-size: 14px;
            line-height: 140%;
            margin-bottom: 40px;
        }

        &__links{
            
            a{
                transform: translateZ(0);
                transition-duration: 0.3s;
                transition-property: transform;
                transition-timing-function: ease-out;
                
                &:hover{
                    transform: translateY(-9px);
                }
            }

            a+a{
                margin-left: 22px;
            }
            display: flex;
            align-items: center;
        }
    }

    &-pictures{
        position: relative;
        
        .video1{
            position: relative;
            z-index: 1000;
        }

        .video2{
            position: absolute;
            left: -52px;
            top: 25px;
        }

        .video3{
            position: absolute;
            right: -52px;
            top: 25px;
        }
    }
}
// == /promo ==

//  == contact ==

.section-contact{
    padding-top: 120px;
    padding-bottom: 80px;

    .section-inner{
        display: flex;

    }

    &-info{
        flex-basis: 435px;
        margin-right: 125px;
        color: $color-black;

        &__title{
            font-weight: 600;
            font-size: 36px;
            line-height: 43px;
            margin-bottom: 60px;
        }

        &__text{
            font-size: 14px;
            line-height: 140%;
        }
    }
    
    &-form{
        display: flex;
        flex-grow: 1;
        flex-direction: column;

        input{
            padding: 20px 30px;
            border: 1px solid #333333;
            box-sizing: border-box;
            border-radius: 6px;
            margin-bottom: 24px;
            outline: none;
        }
        
        &__wrapper{
            display: flex;
            flex-direction: column;
        }

        &__id{

            input{
                width: 253px;
                //зроблено не зовсім правильно
            }
            input:not(:first-child){
                margin-left: 30px;
            }
        }

        &__button{

            button{
                padding: 16px 30px;
                background: $color-red;
                border: 1.5px solid $color-red;
                border-radius: 6px;
                font-size: 14px;
                line-height: 17px;
                text-transform: uppercase;
                color: $color-white;
                cursor: pointer;
                outline: none;
                transition: .3s;

                &:hover{
                    background-color: $color-white;
                    color: $color-red;
                }
            }
        }
    }
}

// == /contact ==

// == footer ==
.section-footer{
    background: $color-gray;
    padding: 86px 0;
    color: $color-black-secondary;

    &-info{
        display: flex;
        font-size: 12px;
        margin-bottom: 86px;

        &-item + &-item{
            margin-left: 30px;
        }

        &-item{
            flex-basis: 254px;


            .title{
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 30px;

            }
            .text{
                line-height: 150%;
                
            }

            &__address{
                
            .text{
                width: 70%;

            }
            }
           
            &__services{

                li {
                    list-style: none;

                    &:not(:last-child){
                        margin-bottom: 5px;
                    }

                    a{
                        text-decoration: none;
                        line-height: 160%;
                        font-size: 12px;
                        color: $color-black-secondary;
                        transition: .2s ease-in-out;

                        &:hover{
                            color: $color-orange;
                        }
                        
                    }
                }
            }

            &__get-in-touch{

                .email{
                    margin-bottom: 11px;
                }

                .phone{
                    margin-bottom: 20px;
                }

                .links{

                    img{
                        transform: translateZ(0px);
                        transition-duration: .3s;
                        transition-property: transform;
                        
                        &:hover{
                            transform: scale(1.6);
                        }
                    }

                    a+a{

                        margin-left: 16px;
                    }

                }
            }

            &__support{

                .title{
                    margin-bottom: 32px;
                }
            }
        }
    }

    &-copyright{
        font-size: 12px;
        line-height: 14px;
    }

}
//== /footer ==